@import url(../reindeer/styles.css);

/* Base font size and color */
.v-app,.v-window,.v-popupview-popup,.v-app input,.v-app button,.v-app textarea,.v-window input,.v-window button,.v-window textarea,.v-popupview-popup input,.v-popupview-popup button,.v-popupview-popup textarea,.v-filterselect-suggestpopup,.v-datefield-popup,.v-datefield-calendarpanel-header button,.v-contextmenu,.v-Notification,.v-menubar-submenu,.v-table-header-drag,.v-filterselect-select-button .v-filterselect-input,.v-drag-element
.v-app select,.v-window select,.v-popupview-popup select,.v-datefield-popup select
	{
	font-size: 11px;
	font-family: Tahoma;
}

.v-window-wrap {
	border: 0px;
}

.v-window-outerheader {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 1px solid #cdcdcd;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#d9d9d9);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#d9d9d9));
}

.v-window-header {
	color: #232930;
	text-shadow: white 0px 1px 0px;
}

.v-window-contents {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

div .v-nativebutton {
	-moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7) );
	background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1',
		endColorstr='#0061a7', GradientType=0 );
	background-color: #007dc1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #124d77;
	display: inline-block;
	color: #ffffff;
	padding: 5px 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #154682;
	margin: 1px;
}

.v-nativebutton:active,.v-nativebutton.v-pressed {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1) );
	background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7',
		endColorstr='#007dc1', GradientType=0 );
	background-color: #0061a7;
}

.v-helprouter-bubble .popupContent .helpText {
	border: 1px solid #292929 !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
	-moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4) !important;
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4)  !important;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4)  !important;
	padding: 5px 15px !important;
	font-size: 11px !important;
	font-family: Tahoma !important;
}

div.v-Notification-tray {
	-moz-box-shadow: inset 0px 1px 0px 0px #FFE4CC;
	-webkit-box-shadow: inset 0px 1px 0px 0px #FFE4CC;
	box-shadow: inset 0px 1px 0px 0px #FFE4CC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #E56B0D;
	display: inline-block;
	color: #ffffff;
	padding: 5px 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #E56B0D;
	margin: 1px;
	
	background: #ffa84c; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}

.blueGradient {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */


}

.appTitle {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #222;
	text-shadow: #F3F5F8 0 1px 0;
	line-height: normal;
}